<html>
<head>
</head>
<body>
    <h1>Create Friends and Family　Information</h1>
    <div>
        <form method="post" action="/fnf/save">
            <input type="text" name="name" placeholder="Name" size="50"><br/><br/>
            <input type="text" name="relation" placeholder="Relation" size="50"><br/><br/>
            <input type="text" name="phone" placeholder="Phone" size="50"><br/><br/>
            <input type="text" name="email" placeholder="Email" size="50"><br/><br/>
            <input type="submit" placeholder="Submit">
        </form>
    </div>
</body>
</html>